body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(32, 53, 53) !important;
    overflow: auto;
}

input.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
    border-color: #ced4da;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 500;
}

figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    color: #0d4623;
}

.user-card {
    border-radius: 8px;
    padding: 30px;
    width: 360px;
}

.img-input {
    width: 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
}

.input-group-append {
    background: #166635;
    border-radius: 4px;
}

hr.line-divisor {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #ccc, #166635, #ccc);
}

img.social-media{
    width: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 12px;
}

img.social-media:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.2);
    transition: all 0.3s;
}

#div-geral {
    margin-top: 110px;
}

#img-logo {
    width: 160px;
    height: 160px;
    margin-top: -120px;
    background-color: white;
    border: solid 8px rgb(32, 53, 53);
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#btn-submit {
    margin: auto;
    display: block;
    width: 28vh;
    background: #166635;
    color: white;
}

input#password{
    border-right: none;
}

input#check-form {
    border: solid 1px #166635;
}

input#check-form:checked {
    color: #166635;
    background-color: #166635;
}

input#check-form:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

img#show-passwd {
    width: 18px;
    margin-top: 2px;
    border: none;
    
}

span#icon-show-passwd{
    background: transparent;
    border-left: none;
    height: 40px;
    margin-left: -5px;
}